<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

<!-- <div *ngFor="let feed of allFeeds"> 
    <mat-grid-list cols="4"  rowHeight="2:1">
        <mat-grid-tile>
            <div class="grid">
                <img [src]="feed.thumbnail" [alt]="feed.title" height="200" width="250">
            </div>
            <div>
                <h3>{{feed.title}}</h3>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->