
.content{
	padding: 1rem;
	@media (min-width: 1200x) {
        padding: 1rem 2rem;      
    }
	
	&-header{
		h1{
    		text-transform: uppercase;
			text-align: center;
			padding: 2rem;
			color: white;
			font-weight: bold;
			font-size: 2rem;
			letter-spacing: 0.15rem;
			@media (min-width: 768px) {
				font-size: 4rem;
			}
			@media (min-width: 1200px) {
				font-size: 6rem;   
				letter-spacing: 0.25rem;
			}
		}
	}
	&-body{
		h2{
    		text-transform: uppercase;
			color: darkorange;
			font-weight: bold;
			letter-spacing: 0.10rem;
			@media (min-width: 768px) {
				letter-spacing: 0.15rem;
				font-size: 2rem;
			}
		}
		&-name{
			background-color: black;
			h3{
				margin: 5px;
				color: white;
				@media (min-width: 768px) {
					font-size: 1rem;
				}
			}
		}
		&-name:hover{
			background-color: #1B1212;
			h3{
				@media (min-width: 768px) {
					font-size: 1.25rem;
				}
			}
		}
	}
}

.pointer{
	cursor: pointer;
}

.pointer:hover{
	.content-body-name{
		background-color: #1B1212;
		h3{
			@media (min-width: 768px) {
				font-size: 1.25rem;
			}
		}
	}
}